*{
    padding:0px;
    margin: 0px;
}
#navbar{
    background-color: black;
    color: white;
    padding :20px;
    h1,ul,li{
        display: inline;
    }
    li{
        color: azure;
    }
    ul{
        margin-left: 75%;
    }
    a:link,a:visited{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: blue;
    }
}
#search{
    padding: 40px;
    text-align: center;
   input{
        width:60%;
        padding:15px;
        text-align: center;
   }
}
#products{
    text-align: center;
    padding:10px;
    h2{
        padding-bottom: 15px;
    }
    div{
        border-color: black;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        width:220px;
        text-align: center;
    }
    div:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
#about{
    padding: 20px;
    text-align: center;
}
#contact{
    background-color: black;
    color:white;
    h2{
        padding: 5px;
        text-align: center;
    }
    .linkss{
        text-align: center;
        padding: 10px;
        a:hover{
            color:blue;
        }
        a:visited,a:link{
            color:white;
            text-decoration: none;
        }
    }
}